### Black Ops: III: Mod Tools
# Common file types for Mods / Maps
*.ff
*.zone
*.csv
*.deps
# Include specific zone files
!zone_source/core_mod.zone
!zone_source/cp_mod.zone
!zone_source/mp_mod.zone
!zone_source/zm_mod.zone
